In [1]:
import numpy as np

In [2]:
np_2d = np.array([[1,3,45],[4,5,8]])
np_2d

array([[ 1,  3, 45],
       [ 4,  5,  8]])

In [3]:
type(np_2d)

numpy.ndarray

In [4]:
np_2d.shape

(2, 3)

In [5]:
np_2d[0][1]

3

In [7]:
s = np_2d[:,1:3]

In [9]:
type(s)

numpy.ndarray

In [1]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [2]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [3]:
def insert_entry(conn, data):
    """
    Create a new task
    :param conn:
    :param data:
    :return:
    """

    sql = ''' INSERT INTO cities(id, name, is_metro)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, data)
    conn.commit()
    return cur.lastrowid

In [5]:
database = r'datasets/cities_db.db'
#os.remove(database)
sql_create_cities_table = """ CREATE TABLE IF NOT EXISTS cities (
                                    id integer PRIMARY KEY,
                                    name text NOT NULL,
                                    is_metro BOOLEAN NOT NULL CHECK (is_metro IN (0, 1))
                                ); """

# create a database connection
conn = create_connection(database)

# create tables
if conn is not None:
    # create cities table
    create_table(conn, sql_create_cities_table)
    locations = { i: (1 if i in ['Mumbai', 'Delhi', 'Kolkata', 'Chennai'] else 0) for i in train['Location'].unique()}
    for idx, key in zip(range(len(locations.keys())),list(locations.keys())):
        data = (idx, key, locations[key])
        insert_entry(conn, data)


else:
    print("Error! cannot create the database connection.")

NameError: name 'Error' is not defined